@mixin font-face($font-family, $font-weight, $font-style, $filename-base) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: #{$font-weight};
    font-style: #{$font-style};
    src: url('#{$filename-base}.otf') format('opentype');
  }
}

@include font-face('notoSansKr', 900, 'normal', './../font/notosans/NotoSansKR-Black');
@include font-face('notoSansKr', 700, 'normal', './../font/notosans/NotoSansKR-Bold');
@include font-face('notoSansKr', 500, 'normal', './../font/notosans/NotoSansKR-Medium');
@include font-face('notoSansKr', 400, 'normal', './../font/notosans/NotoSansKR-Light');
@include font-face('notoSansKr', 100, 'normal', './../font/notosans/NotoSansKR-Thin');